{
    "extends": "standard",
    "installedESLint": true,
    "plugins": [
        "standard",
        "promise"
    ],
    "rules": {
        "no-unused-vars": 0,
        "no-undef": 0
    },
    "globals": {
        "jQuery": true,
        "$": true
    }
}
