#main{

}
#main .title{
    text-align: center;
}
.item-pbody{
    position:relative;
}
.custom-desc{
    position:absolute;
    width: 85%;
    left: 8%;
    top: 5%;
}
.media-wrap{

}
.media-wrap .item-src{
    width:100%;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
